# Ignore Visual Studio build files
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.sdf
*.ipch
*.aps
*.ncb
*.opensdf
*.user
*.suo
*.vcxproj.user
*.sln
*.vcxproj

# Ignore generated folders
Debug/
Release/
x64/
ipch/
.vscode/
.vs/
*.db

# Custom project-specific ignores
Backups/
Compressed/
Decompressed/
OpenCV/
Images/
doc/